footer {
	width: 100%;
	height: 150px;
	background-color: rgb(53, 59, 59);
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	justify-content: space-around;
}

.link-styles {
	display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 69, 64);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.footer-icon-styles {
	color: rgb(82, 144, 134);
}

.link-container {
	display: flex;
	margin-top: 10px;
}

.footer-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}